@keyframes move-anim {
    0% {
        top: -200px;
        right: 80px;
        transform: rotate(10deg) scale(1);
        opacity: 1;
    }
    50% {
        top: 0px;
        right: 40px;
        transform: rotate(-50deg) scale(1);
        opacity: 1;
    }
    100% {
        top: 200px;
        right: 20px;
        transform: rotate(-100deg) scale(0.75);
        opacity: 1;
    }
}

.gold{
    animation: move-anim 6s linear infinite;
}

.gold2{
    animation: move-anim 6s linear infinite;
    animation-delay: 2s;
}

.gold3{
    animation: move-anim 6s linear infinite;
    animation-delay: 4s;
}
.gold4{
    animation: move-anim 6s linear infinite;
    animation-delay: 6s;
}

/* sec logo */

@keyframes moveout-anim {
    0% {
        top: -50px;
        right: 20px;
        transform: rotate(-60deg) scale(0.75);
        opacity: 1;
    }
    50% {
        top: 100px;
        right: 120px;
        transform: rotate(-15deg) scale(0.85);
        opacity: 1;
    }
    100% {
        top: 200px;
        right: 220px;
        transform: rotate(10deg) scale(1);
        opacity: 0;
    }
}

.sec {
    animation: moveout-anim 8s linear infinite;
}

.sec2 {
    animation: moveout-anim 8s linear infinite;
    animation-delay: 2s;
}

.sec3 {
    animation: moveout-anim 8s linear infinite;
    animation-delay: 4s;
}
.sec4 {
    animation: moveout-anim 8s linear infinite;
    animation-delay: 6s;
}